{% include header.html %}

    {% include home-hero.html %}

<main id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div id="skills">
          {% if site.data.skills.section_title != empty %}
          <h2 class="section-title text-center">{{ site.data.skills.section_title }}</h2>
          {% endif %}
          {% if site.data.skills.section_subtitle != empty %}
          <p class="section-subtitle text-center">{{ site.data.skills.section_subtitle }}</p>
          {% endif %}
      
          {% if site.data.skills.section_programming_languages != empty %}
          <p class="section-subtitle text-center">{{ site.data.skills.section_programming_languages }}</p>
            {% include programming_languages.html %}
          {% endif %}
          
          {% if site.data.skills.section_libraries != empty %}
          <p class="section-subtitle text-center">{{ site.data.skills.section_libraries }}</p>
            {% include libraries.html %}
          {% endif %}
          
          {% if site.data.skills.section software != empty %}
          <p class="section-subtitle text-center">{{ site.data.skills.section software }}</p>
            {% include software.html %}
          {% endif %}
        </div>

        <div id="projects">
        {% if site.data.projects.section_title != empty %}
          <h2 class="section-title text-center">{{ site.data.projects.section_title }}</h2>
        {% endif %}
        {% if site.data.projects.section_subtitle != empty %}
          <p class="section-subtitle text-center">{{ site.data.projects.section_subtitle }}</p>
        {% endif %}

        {% for post in paginator.posts %}
        {% if post.type == "project" %}
          <div class="wow fadeIn">
          {% if post.position == "left" %}
          {% include content-left.html %}
          {% endif %}

          {% if post.position == "right" %}
          {% include content-right.html %}
          {% endif %}
          </div>
        {% endif %}
        {% endfor %}
        </div>

        <div id="gamejams">
        {% if site.data.gamejams.section_title != empty %}
          <h2 class="section-title text-center">{{ site.data.gamejams.section_title }}</h2>
        {% endif %}
        {% if site.data.gamejams.section_subtitle != empty %}
          <p class="section-subtitle text-center">{{ site.data.gamejams.section_subtitle }}</p>
        {% endif %}

        {% for post in paginator.posts %}
        {% if post.type == "gamejam" %}
          <div class="wow fadeIn">
          {% if post.position == "left" %}
          {% include content-left.html %}
          {% endif %}

          {% if post.position == "right" %}
          {% include content-right.html %}
          {% endif %}
          </div>
        {% endif %}
        {% endfor %}
        </div>
        
      </div>
    </div>
  </div>
</main>
    
{% include footer.html %}
