{% include header.html %}

    {% include home-hero.html %}

<main id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div id="skills">
          <div class="col-md-12">
            {% if site.data.skills.section_title != empty %}
            <h2 class="section-title text-center">{{ site.data.skills.section_title }}</h2>
            {% endif %}
          
            <div class="columns-3 pull-left">
            {% if site.data.skills.section_programming_languages != empty %}
            <h3>{{ site.data.skills.section_programming_languages }}</h3>
            {% endif %}
            </div>
              
            <div class="columns-3">
            {% if site.data.skills.section_libraries != empty %}
            <h3>{{ site.data.skills.section_libraries }}</h3>
              <h4> Dear ImGui </h4>
              <h4> SDL </h4>
              <h4> OpenGL </h4>
            {% endif %}
            </div>
              
            <div class="columns-3 pull-right">
            {% if site.data.skills.section_software != empty %}
            <h3>{{ site.data.skills.section_software }}</h3>
            {% endif %}
            </div>
          </div>
        </div> 
          <br><br><br><br>

        <div id="projects">
        {% if site.data.projects.section_title != empty %}
          <h2 class="section-title text-center">{{ site.data.projects.section_title }}</h2>
        {% endif %}
        {% if site.data.projects.section_subtitle != empty %}
          <p class="section-subtitle text-center">{{ site.data.projects.section_subtitle }}</p>
        {% endif %}

        {% for post in paginator.posts %}
        {% if post.type == "project" %}
          <div class="wow fadeIn">
          {% if post.position == "left" %}
          {% include content-left.html %}
          {% endif %}

          {% if post.position == "right" %}
          {% include content-right.html %}
          {% endif %}
          </div>
        {% endif %}
        {% endfor %}
        </div>

        <div id="gamejams">
        {% if site.data.gamejams.section_title != empty %}
          <h2 class="section-title text-center">{{ site.data.gamejams.section_title }}</h2>
        {% endif %}
        {% if site.data.gamejams.section_subtitle != empty %}
          <p class="section-subtitle text-center">{{ site.data.gamejams.section_subtitle }}</p>
        {% endif %}

        {% for post in paginator.posts %}
        {% if post.type == "gamejam" %}
          <div class="wow fadeIn">
          {% if post.position == "left" %}
          {% include content-left.html %}
          {% endif %}

          {% if post.position == "right" %}
          {% include content-right.html %}
          {% endif %}
          </div>
        {% endif %}
        {% endfor %}
        </div>
        
      </div>
    </div>
  </div>
</main>
    
{% include footer.html %}
